[Unit]
Description=tmux/rTorrent Daemon
After=network.target

[Service]
Type=forking
KillMode=none
User=aquister
ExecStart=/usr/bin/tmux new-session -s rt -n rtorrent -d rtorrent
ExecStop=/usr/bin/bash -c "/usr/bin/tmux send-keys -t rt:rtorrent.0 C-q && while pidof rtorrent > /dev/null; do sleep 0.5; echo rtorrent still running...; done"
WorkingDirectory=/home/aquister/
Restart=on-failure

[Install]
WantedBy=multi-user.target
